
<%- include('partials/header') %>

<div class="p-5 mb-4 bg-body-tertiary rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold">최적의 비즈니스 파트너, 안전한 창고 임대 서비스</h1>
        <p class="fs-4 mt-4">청주 인근 최고의 입지 조건과 최신 시설을 갖춘 창고에서 고객님의 비즈니스를 더욱 확장하세요.</p>
        <a href="/contact" class="btn btn-primary btn-lg mt-3">창고 임대 관련 문의하기</a>
    </div>
</div>

<%- include('partials/footer') %>
